html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-container {
  display: flex;
  height: 100vh; 
  width: 100vw;  
  overflow: hidden; 
}

.map-container {
  flex: 3; /* 75% of width */
  height: 100%;
  overflow: hidden;
}

.info-panel {
  flex: 1; /* 25% of width */
  height: 100%;
  background-color: #f4f4f4;
  border-left: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-panel-inGame{
  display: flex;
  flex-direction: column;   
  align-items: center;
  width: 60%;
  height: 100%;
}
.info-panel-guesses{
  width: 100%;
  text-align: center;
}
.guesses-list {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.guess{
  margin: auto;
}
.buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.button-next button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.button-next button:hover{
  background-color: #45a049;
}
.button-quit{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 100%;
}
.button-quit button{
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.button-quit button:hover{
  background-color: #da190b;
}
.guess-button{
  position: absolute;
  bottom: 2%;
  right: 27%;
  padding: 10px 20px;
  font-size: 24px;  
  border-radius: 5px;
  background-color: #fffb00;
  color: rgb(0, 0, 0);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.guess-button:hover{
  cursor: pointer;
  background-color: #dad60e;
  color: rgb(0, 0, 0);
}
.guesses-capital{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guesses-capital h2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu{
  display: flex;
  flex-direction: column;
}
.sp-button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.sp-button:hover{
  background-color: #45a049;
}
.mp-button{
  background-color: #ffa600;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.mp-button:hover{
  background-color: #e69500;
}
.answer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answer h3{
  color: green;
  text-align: center;
}
.results{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.results button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}